body {
    margin: 0px;
}

.sp {
    display: none;
}

header {
    width: 100%;
    background-color: #000000;
    opacity: 0.8;
    color: #ffffff;
    float: left;
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
}

header h1 {
    margin: 20px;
    
}

#topbtn {
    font-size: 30px;
    text-align: center;
    height: 100px;
    width: 100px;
    background-color: #000000;
    opacity: 0.6;
    color: #ffffff;
    position: fixed;
    bottom: 30px;
    right:30px;
    z-index: 10px;
    display: block;
    float: right;
    border-radius: 50%;
}

.main-image {
    background-image: url(image/main.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%
}

.main-contents {
    max-width: 1000px;
    margin: 60px auto;
    display: flex;
}

.main-contents img {
    width: 400px;
}

.plofile {
    margin: 0 30px auto;
}

.name {
    border-bottom: 1px solid #71d0cd;
    display: flex;
}

.name h2 {
    font-size: 32px;
    margin: 0px;
    padding: 20px 0px;
}

.name span {
    font-size: 15px;
    letter-spacing: 10px;
    margin: 0px;
}

.plofile ul {
    border-bottom: 1px solid #71d0cd;
    margin: 0px;
    padding: 20px;
}

.introduce {
    margin: 0px;
    padding: 20px 0px;
}

#skills {
    background: #f7f7f7;
    color: #607D8B;
    padding: 100px 0 40px;
}

#skills h2 {
    margin: 0;
    text-align: center;
}
#skills h2 span {
    display: block;
}
#skills img {
    display: block;
    margin: 40px auto 0;
}
#skills dl {
    text-align: center;
    margin: 40px auto 10px;
    width: 500px;
}
#skills dt {
    font-weight: bold;
    margin-bottom: 10px;
    display: inline-block;
}
#skills dd {
    margin: 0;
    margin-bottom: 20px;
    text-align: right;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

#works {
    padding: 100px 0;
    color: #666;
}
#works h2 {
    margin: 0;
    text-align: center;
}
#works h2 span {
    display: block;
}
#works > ul {
    max-width: 1000px;
    margin: 30px auto 0;    
    padding: 0;
    padding: 20px;
}
#works > ul > li {
    display: flex;
    padding: 40px 0;
}

#works h3 {
    margin-left: 20px;
    border-bottom: 1px solid #666;
    padding-bottom: 10px;
    margin-top: 10px;
}
#works .w-left {
    width: 90%;
}
#works .w-right {
    width: 110%;
}
#works .w-left img {
    width: 100%;
    border: 1px solid #666;
}
#works .w-left img:hover {
    opacity: 0.5;
}
#works .w-right li {
    margin-bottom: 20px;
}
#works .w-right a {
    color: #6fd0cb;
    margin-left: 40px;
}


footer {
    background-color: #71d0cd;
}

.Google {
    color: #ffffff;
    display: inline-block;
    margin: 20px;
}

@media screen and (max-width: 896px) {
    h1 {
        font-size: 24px;
    }

    .main-contents {
        margin-top: 40px;
        display: inherit;
    }
    h2 {
        text-align: center;
    }
    .main-contents img {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    
    .left {
        text-align: center;
    }

    .plofile {
        padding-left: 0;
        width: 70%;
        margin: auto;
    }
    #skills img {
        width: 70%;
    }
    #skills dl {
        width: 70%;
    }
    #works > ul > li {
        display: inherit;
        margin-bottom: 70px;
    }
    #works .w-left {
        width: 100%;
        text-align: center;
    }
    #works .w-left img {
        width: 60%;
        margin-bottom: 20px;
    }
    #works h3 {
        text-align: center;
        margin-left: 0;
    }
    #works .w-right {
        width: 70%;
        margin: auto;
    }
    #works .w-right a {
        text-align: center;
        background: #6fd0cb;
        color: #fff;
        display: block;
        margin: auto;
        width: 80%;
        text-decoration: none;
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width: 480px) {
    .sp {
        display: block;
    }
    header {
        position: absolute;
        opacity: 1;
        padding: 0;
        background: none;
    }

    h1 {
        padding: 10% 10px;
        font-size: 45px;
        text-align: center;

    }
    #skills dt {
        float: inherit;
    }
    #skills dd {
        text-align: center;
        border-bottom: none;
    }
    #skills dd:after {
        content: "";
        display: block;
        height: 10px;
        width: 50px;
        border-bottom: 1px solid;
        margin-top: 10px;
        margin-left: 50%;
        z-index: 99;
        transform: translateX(-50%);
    }
    #skills dd:last-child:after {
        content: none;
    }

    #skills img,
    #works .w-left img,
    #works .w-right {
        width: 100%;
    }
    #skills,
    #works {
        padding-top: 60px;
    }
    #works > ul > li {
        padding-top: 0;
    }
    #works .w-right ul {
        padding-left: 19px
    }
}